.graph {
    width: 90%;
    height: auto;
}
.graphs-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.graph-image {
    width: 100%;
    max-width: 1000px; /* Adjust this value according to your needs */
    height: auto;
    padding: 5px;
    
}

.description{
    width: 70%;
    margin: 0 auto;  /* This centers the section */
    margin-top: 3em;
  
}

.img-collection{
    width: 70%;
    margin: 0 auto;
    background-color: antiquewhite;
    text-align: center;
}

.summary{
    padding: 30px;
}