.methodology {
    width: 60%;
    margin: 0 auto;  /* This centers the section */
    
  }
  .survey-container {
    display: flex;
    justify-content: space-between;
    background-color: blanchedalmond;
  }
  
  .survey-links,
  .focus-group,
  .literature {
    width: 30%;
    padding: 20px;
  }

  .survey-links h4{
    color:rgb(90, 91, 89);
  }
  
  .go button{
    background-color: silver;
    padding: 10px;
    border-radius: 10px;
  }