.timeline-container {
    width: 70%;
    padding: 20px;
    position: relative; /* added this */
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #f3f3f3;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

.timeline {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding: 20px;
    overflow-x: auto;
}

.timeline::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    transform: translateY(-50%);
    height: 2px;
    background: #ccc;
    width: 160%;
}

.timeline-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    flex: 1;
    padding: 0 20px;
    transition: all 0.3s ease; /* added transition for smooth hover effect */
}

.timeline-item::before {
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    background: #fff;
    border: 2px solid #ccc;
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
}

.timeline-item h3, .timeline-item p {
    margin: 10px 10px;
    text-align: center;
    color: #333; /* darker text */
}

.timeline-item:hover {
    transform: scale(1.05); /* scale item on hover */
}

.square {
    border: 1px solid black;
    padding: 10px;
    width: 80px;
    height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: burlywood;
    border-radius: 10px; /* rounded corners */
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1); /* subtle shadow */
    transition: all 0.3s ease; /* added transition for smooth hover effect */
}

.square button {
    background-color: transparent;
    border: none;
    color: rgb(26, 24, 24);
    text-align: center;
    display: inline-block;
    font-size: 12px;
    transition-duration: 0.4s;
    cursor: pointer;
}

.square button:hover {
    background-color: goldenrod; /* change button color on hover */
    transform: scale(1.1); /* scale button on hover */
}
